.hospital-navbar {
  background-color: #007d79 !important;
  padding: 10px 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.521);
  z-index: 1050;
}

.hospital-navbar .navbar-brand {
  font-family: 'Segoe UI', sans-serif;
  color: #fff !important;
}

.hospital-navbar img {
  border-radius: 50%;
  object-fit: cover;
}
